@import url(/assets/css/responsive.css);


body{
    display: flex;
    justify-content: center;
    background-color: #ececec;
}

section{
    width: 60%;
    border-radius: 25px;
    border: 2px solid black;
}
form{
    border-bottom: 2px solid black;
}



h1, h2{
    color: red;
    text-align: center;
    text-decoration: underline;

}

form input[type="text"] {
    margin-right: 10px;
    padding: 5px;
}


#lista-tarefas {
    list-style: none;
    padding: 0;
}

.btn-editar{
    width: 25px;
    height: 25px;
    background-image: url(../icon/editar.png);
    margin: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;
    
}

ul{
    margin-left: 5%;
    align-content: center;
    width: 100%;
    display: flexbox;
    justify-content: center;
   
}

li{
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 5px;

}

.titulo{
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border-bottom: 2px solid black;

}

.btn-excluir{
    width: 25px;
    height: 25px;
    background-image: url(../icon/lixeira.png);
    margin: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;

}

  
